.menu {

  .logo,
  .menu__hamburguer,
  .menu__toggle,
  .menu__setting {
    opacity: 1;
  }

  .logo {
    animation: bounceInBottom .5s ease-in-out .25s, visible 1s ease-in-out;
  }

  .menu__toggle {
    animation: bounceInBottom .5s ease-in-out .4s, visible 1.25s ease-in-out;
  }

  .menu__setting {
    animation: bounceInBottom .5s ease-in-out .6s, visible 1.5s ease-in-out;
  }

  .menu__hamburguer {
    animation: bounceInBottom .5s ease-in-out .75s, visible 1.75s ease-in-out;
  }
}

.banner {
  overflow-y: hidden;

  h1,
  p,
  button,
  h2,
  &>svg,
  .skill-container {
    opacity: 0;
  }

  &.show {

    h1,
    p,
    button,
    h2,
    .skill-container,
    &>svg {
      opacity: 1;
    }

    h1 {
      animation: bounceInBottom .5s ease-in-out .25s, visible 1s ease-in-out;
    }

    p {
      animation: bounceInBottom .5s ease-in-out .4s, visible 1.25s ease-in-out;
    }

    button {
      animation: bounceInBottom .5s ease-in-out .5s, visible 1.5s ease-in-out;
    }

    h2 {
      animation: bounceInBottom .5s ease-in-out .6s, visible 1.75s ease-in-out;
    }

    .skill-container {
      animation: bounceInBottom .5s ease-in-out .75s, visible 2s ease-in-out;
    }

    &>svg {
      &:first-child {
        animation: toBottom .3s ease-in-out;
      }

      &:last-child {
        animation: toTop .3s ease-in-out;
      }
    }
  }
}

.about-me {

  h2,
  h3,
  p,
  img {
    opacity: 0;
  }

  &.show {

    h2,
    h3,
    p,
    img {
      opacity: 1;
    }

    h2 {
      animation: bounceInBottom .5s ease-in-out .25s, visible 1s ease-in-out;
    }

    h3 {
      animation: bounceInRight .5s ease-in-out .4s, visible 1.25s ease-in-out;
    }

    p {
      animation: bounceInRight .5s ease-in-out .5s, visible 1.5s ease-in-out;
    }

    img {
      animation: bounceInLeft .5s ease-in-out .6s, visible 1.75s ease-in-out;
    }
  }
}

@mixin styles-animations-768 {
  .menu {

    .logo {
      animation: bounceInRight .5s ease-in-out .25s, visible 1s ease-in-out;
    }

    .menu__hamburguer {
      animation: bounceInRight .5s ease-in-out .4s, visible 1.25s ease-in-out;
    }

    .menu__toggle {
      animation: bounceInRight .5s ease-in-out .6s, visible 1.5s ease-in-out;
    }

    .menu__setting {
      animation: bounceInRight .5s ease-in-out .75s, visible 1.75s ease-in-out;
    }
  }
}

@mixin styles-animations-1024 {
  .banner {
    &.show>svg {
      opacity: .25;
    }
  }
}