*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
body{
	min-height: 600vh;
	font-size: 18px;
	background-color: var(--bg-color);
	color: var(--text-color);
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: var(--color-link);
	&.active{
		color: var(--color-hover);
	}
}
button{
	border: none;
	outline: none;
	cursor: pointer;
}
svg{
	width: 32px;
	height: 32px;
}
h1{
	font-size: 3.25rem;
	span{
		color: var(--color-hover);
	}
}
h2{
	font-size: 2.75rem;
}

.container{
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}
.d-flex{
	display: flex;
}
.d-inline-block{
	display: inline-block;
}
.text-center,
.text-center-sm{
	text-align: center;
}
.align-center{
	align-items: center;
}
.jc-between{
	justify-content: space-between;
}
.jc-center{
	justify-content: center;
}
.flex-column,
.flex-column-sm{
	flex-direction: column;
}
.w-100{
	width: 100%;
}
.btn{
	padding: 1rem 1.25rem;
	border-radius: .25rem;
	font-size: 1.25rem;
	span{
		pointer-events: none;
	}
}
.btn-primary{
	background-color: var(--color-hover);
	span, svg{
		color: var(--bg-color);
		font-weight: bold;
	}
}
.btn-secondary{
	border: 1px solid var(--color-hover);
	background-color: transparent;
	color: var(--text-color);
}

.logo span{
	padding-left: 0.5rem;
}

.p-fixed{
	position: fixed;
}
.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}



@media (min-width:768px) {
	.flex-column-sm{
		flex-direction: initial;
	}
	.flex-column-md{
		flex-direction: column;
	}
	.text-center-sm{
		text-align: start;
	}

	section .container{
		padding-left: 4rem;
	}

}

@media (min-width:1024px) {
	h1{
		font-size: 4.25rem;
	}
	h2{
		font-size: 3rem;
	}
	h3{
		font-size: 2rem;
	}
	p{
		font-size: 1.35rem;
	}
}

@media (min-width:1200px) {
	h1{
		font-size: 5rem;
	}
}