:root {
	--font-title: "Telex", sans-serif;
}

[data-theme]:not([data-theme="default-dark"]):not([data-theme="purple-dark"]):not([data-theme="gray-dark"]):not([data-theme="green-dark"]) {
	--bg-color: #f5f5f5;
	--text-color: #212121;
	--bg-footer: rgb(207, 216, 220);
	--shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

[data-theme]:not([data-theme="default-light"]):not([data-theme="purple-light"]):not([data-theme="gray-light"]):not([data-theme="green-light"]) {
	--bg-color: #0e0f26;
	--text-color: #fffcff;
	--bg-footer: #212121;
	--shadow: rgba(50, 50, 93, 0.25) 0px -3px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
}

[data-theme="default-light"] {
	--color-link: rgba(75, 117, 212, 1);
	--color-hover: rgb(6, 196, 158);
	--color-link-alpha: rgba(75, 117, 212, 0.8);
	--color-hover-alpha: rgba(6, 196, 158, 0.8);
}
[data-theme="default-dark"] {
	--color-link: rgb(106, 149, 249);
	--color-hover: rgba(168, 219, 210, 1);
	--color-link-alpha: rgba(75, 117, 212, 0.8);
	--color-hover-alpha: rgba(168, 219, 210, 0.8);
}

[data-theme="purple-light"] {
	--color-link: rgb(67, 69, 134);
	--color-hover: rgb(70, 178, 182);
	--color-link-alpha: rgba(67, 69, 134, 0.8);
	--color-hover-alpha: rgba(60, 143, 157, 0.8);
}
[data-theme="purple-dark"] {
	--color-link: #9a9cea;
	--color-hover: #a2dcee;
	--color-link-alpha: rgba(162, 185, 238, 0.8);
	--color-hover-alpha: rgba(173, 238, 226, 0.8);
}

[data-theme="gray-light"] {
	--color-link: rgba(43, 71, 89, 1);
	--color-hover: rgb(234, 53, 36);
	--color-link-alpha: rgba(21, 47, 62, 0.8);
	--color-hover-alpha: rgba(231, 47, 30, 0.8);
}
[data-theme="gray-dark"] {
	--bg-color: #0e0f26;
	--text-color: #fffcff;
	--color-link: #78a6c8;
	--color-hover: #e65c4f;
	--color-link-alpha: rgba(100, 166, 208, 0.8);
	--color-hover-alpha: rgba(230, 92, 79, 0.8);
}
[data-theme="green-light"] {
	--bg-color: #f5f5f5;
	--text-color: #212121;
	--color-link: #4ec1ae;
	--color-hover: #c5a56f;
	--color-link-alpha: rgba(57, 147, 132, 0.8);
	--color-hover-alpha: rgba(204, 173, 118, 0.8);
}
[data-theme="green-dark"] {
	--bg-color: #0e0f26;
	--text-color: #fffcff;
	--color-link: #53d2bd;
	--color-hover: #f6d08d;
	--color-link-alpha: rgba(83, 210, 189, 0.8);
	--color-hover-alpha: rgba(246, 208, 141, 0.8);
}
