.about-me {
	svg {
		transform: translateY(-0.02rem);
		height: 100%;
		path {
			fill: var(--color-link);
		}
	}
	.d-flex{
		gap:2rem;
	}
	&__content {
		h3 {
			margin: 1rem 0 0.25rem 0;
		}
		p {
			text-align: justify;
		}
	}
	&__img {
		max-width: 20rem;
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.about-me {
		&__content {
			max-width: 60%;
		}
	}
}
