.certificates {
	h2 {
		margin-bottom: 2rem;
	}

	&__item {
		transition: transform .3s ease-in-out;
    span{
      min-height: 270px;
    }

		&:hover {
			transform: scale(1.05);
		}
	}

	&__container {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	}
}
@mixin styles-certificates-768{
  .certificates{
    &__item{
      span{
        min-height: 240px;
      }
    }
  }
}
@mixin styles-certificates-1024{
  .certificates{
    &__item{
      span{
        min-height: 300px;
      }
    }
  }
}
@mixin styles-certificates-1200{
  .certificates{
    &__item{
      span{
        min-height: 230px;
      }
    }
  }
}
@mixin styles-certificates-1440{
  .certificates{
    &__container{
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
  }
}
