header {
	padding: 1rem 0;
	background-color: green;
	left: 0;
	&.show-menu .menu__content {
		top: 0;
	}
}
.line {
	display: block;
	height: 3px;
	background-color: var(--text-color);
	margin-bottom: 0.3rem;
	transition: all 200ms;
	border-radius: 1rem;
}
.menu {
	&__hamburguer,
	&__close {
		width: 32px;
		cursor: pointer;
	}
	&__hamburguer {
		order: 5;
	}
	&__close {
		height: 32px;
		&:hover {
			.line:first-child {
				animation: menuCloseLine1 0.75s ease-in-out;
			}
			.line:last-child {
				animation: menuCloseLine2 0.75s ease-in-out;
				animation-delay: 0.1s;
			}
		}
		.line {
			margin: 0;
			pointer-events: none;
			&:first-child {
				rotate: 45deg;
			}
			&:last-child {
				rotate: -45deg;
				transform: translate(2px, -2px);
			}
		}
	}
	&__content {
		height: 100vh;
		background-color: var(--bg-footer);
		left: 0;
		top: -100vh;
		width: 100vw;
		padding: 1rem 0;
		color: var(--text-color);
		transition: top 0.75s ease-in-out;
		z-index: 999;
		nav {
			margin-top: 1rem;
			a {
				font-size: 1.75rem;
				padding: 1.25rem 0;
			}
		}
	}
	&__footer {
		bottom: 1rem;
		.social-list a {
			padding: 1rem 0.35rem;
		}
	}
}
.setting {
	.btn {
		padding: 0.75rem 1rem;
		border: none;
		color: var(--text-color);
	}
}
.menu {
	&__preset-colors {
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		background: #555;
		padding: 10px;
		border-radius: 0.25rem;
		min-width: 10rem;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms;
		&.show {
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
		li {
			display: block;
			float: left;
			margin-bottom: 10px;
			cursor: pointer;
		}
		span {
			width: 50%;
			height: 24px;
			float: left;
			zoom: 1;
			border-radius: 2px 0px 0px 2px;
		}
		p {
			margin-bottom: 1rem;
		}
	}
}

@keyframes menuCloseLine1 {
	0%,
	60% {
		transform: translate(10px, -8px);
		width: 10%;
	}
	50%,
	100% {
		width: 100%;
		transform: translate(0px, 0px);
	}
	51% {
		opacity: 0;
	}
}
@keyframes menuCloseLine2 {
	0%,
	60% {
		width: 10%;
		transform: translate(10px, 8px);
	}
	50%,
	100% {
		width: 100%;
		transform: translate(2px, -2px);
	}
	51% {
		opacity: 0;
	}
}

@media (min-width: 768px) {
	header {
		height: 100vh;
		&.w-100 {
			width: auto;
		}
		& > div {
			height: 100%;
		}
		&.show-menu .menu__content {
			top: 0;
			left: 0;
		}
	}
	.menu {
		&__content {
			top: 0;
			left: -100vw;
			transition: left 0.75s ease-in-out;
		}
		&__hamburguer {
			order: initial;
			flex-grow: 1;
		}
		&__preset-colors {
			top: -50%;
			min-width: 10rem;
			left: 50%;
			transform: translateY(-50%);
			&.show {
				top: -50%;
				left: 100%;
				min-width: 11rem;
			}
		}
	}
}
