.modal {
  background-color: var(--bg-color);
  top: 56px;
  width: 100%;
  height: 100vh;
  padding: 0 0.5rem;
  overflow-y: scroll;

  a.btn {
    color: var(--color-hover);
  }

  .btn {
    margin: 1rem 0;
  }

  &.project-images {
    overflow-y: hidden;
    background: transparent;

    .modal__img {
      height: 100%;

      div {
        height: 100%;
        overflow-y: scroll;
        max-width: 75vw;
      }
    }

    .buttons .btn.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@mixin styles-modal-768 {
  .mb-2 {
    margin: 0;
  }

  .modal {
    top: 0;
    width: calc(100vw - 4rem);
    height: 100vh;
    margin-left: 4rem;
    overflow-x: hidden;
    z-index: 888;

    .close {
      position: fixed;
      width: calc(100vw - 6rem);
      z-index: 100;
    }

    img {
      max-width: 75%;
    }

    &__img {
      padding: 1rem;
    }

    .buttons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 2rem 0 1rem;
    }
  }

  .projects .modal.project-images .buttons {
    padding: 0 2rem;
  }

  .projects .modal.project-images img {
    max-width: 100%;
  }
}

@mixin styles-modal-1024 {
  .modal {
    top: 0;
    width: calc(100vw - 4rem);
    height: 100vh;
    margin-left: 4rem;
    overflow-x: hidden;

    .buttons {
      padding: 0 1rem;
      max-width: 1200px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}

@mixin styles-modal-1200 {
  .modal {
    img {
      max-width: 55%;
    }
  }
}
