.projects {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		gap: 2rem;
	}
	p {
		max-width: 60rem;
		margin: 1rem auto;
	}
}

.project {
	&__card {
		border: 1px solid var(--bg-footer);
		border-radius: 0.25rem;
		overflow: hidden;
	}
	&__img {
		overflow: hidden;
		img {
			overflow: hidden;
			transition: transform .3s ease-in-out;
		}
		&:hover img {
			transform: scale(1.10);
		}
	}
	&__content {
		padding: 1rem;
		h3 {
			font-size: 1.5rem;
		}
		p {
			font-weight: bold;
			font-size: 0.95rem;
		}
		.d-flex {
			margin: 1rem 0;
		}
		.technologies {
			gap: 0.25rem;
		}
		span {
			font-size: 0.9rem;
			padding: 0.25rem;
			background-color: var(--bg-footer);
			border-radius: 0.25rem;
			font-weight: bold;
			&:nth-child(odd) {
				color: var(--color-hover);
			}
			&:nth-child(even) {
				color: var(--color-link);
			}
		}
		.date {
			background-color: var(--bg-footer);
			padding: 0.25rem;
			border-radius: 0.25rem;
			font-size: 0.9rem;
		}
	}
}

@mixin styles-projects-768 {
	.projects {
		&__container {
			grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
		}
	}
}
