.timeline {
  .mb-1 {
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .section {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    pointer-events: none;
    
    &.show {
      opacity: 1;
      min-width: 100%;
      height: 100%;
      padding: 0.1rem;
      pointer-events: all;
    }
  }

  span {
    color: var(--color-hover);
  }

  &__element {
    box-shadow: var(--shadow);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .25rem;
    max-width: 30rem;

    p {
      font-size: 1rem;
      margin: 1rem 0;
    }
    .img span{
      min-height: 220px;
      min-width: 100%;
    }
  }

  h5 span {
    color: var(--color-hover);
  }

  .buttons {
    max-width: 30rem;
    margin: auto;

    

    .btn.hide {
      visibility: hidden;
    }
  }
}

@mixin styles-timeline-768{
  .timeline__element{
    .img span{
      min-height: 325px;
    }
  }
}

@mixin styles-timeline-1024 {
  .timeline {
    .section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      gap: 2rem;
    }

    .buttons {
      max-width: 1200px;
    }
  }
  .timeline__element{
    .img span{
      min-height: 275px;
    }
  }
}

@mixin styles-timeline-1200 {
  .timeline {
    .buttons {
      position: absolute;
      max-width: 1440px;
      top: 50%;
      transform: translateY(-50%);
      width: -webkit-fill-available;
    }
    &__element{
      .img span{
        min-height: 325px;
      }
    }
  }
  
}